@{
    var userModel = (spare_parts_shopping.Models.Users)Session["user"];
}
<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header__top">
            <div class="top__social-links">
                <a href="#"><i class="fa-brands fa-twitter"></i> </a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i> </a>

            </div>
            <div class="top__logo">
                <a href="/">
                    <img src="~/assets/img/logo2.gif">

                </a>
            </div>
            <div class="top__user-information">
                @if (userModel != null && userModel.Id != 0)
                {
                    <span>Hoşgeldin, @userModel.Username</span>
                }
                else
                {
                    <a href="/login/login">Giriş Yap!</a>
                }

                <a href="/products/productorders">Sepet (@(userModel == null ? "0" : userModel.BasketItems.Where(x => x.Products != null).Sum(x => x.Quantity).ToString()))</a>


            </div>
        </div>
        <div class="header__bottom">
            <a href="/Login/Login">Login</a>
            <a href="/Login/Signup">Signup</a>
            <a href="/products/productorders">orders</a>

        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer__logo">
            <img src="~/assets/img/logo2.gif" width="150">
        </div>
        <div class="footer__menu">
            <a href="#">About</a>
            <a href="#">About</a>
            <a href="#">About</a>
            <a href="#">About</a>
        </div>
        <div class="footer__social-links">
            <a href="#"><i class="fa-brands fa-twitter"></i> </a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i> </a>
        </div>
        <div class="footer__line">

        </div>
        <span class="footer__copyright-text">
            Copyright © Hasan Can Beyaz 2023
        </span>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js" integrity="sha512-SdWDXwOhhVS/wWMRlwz3wZu3O5e4lm2/vKK3oD0E5slvGFg/swCYyZmts7+6si8WeJYIUsTrT3KZWWCknSopjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            $("#payment").click(function () {
                $(".error-message").hide();
                $(".success-message").hide();
                let postData = $('form').serializeJSON();
                console.log(postData);
                event.preventDefault();
                $.ajax({
                    url: 'https://localhost:44333/api/payment/post',
                    type: 'POST',
                    dataType: 'json',
                    data: postData,
                    success: function (gelenveri) {
                        
                        if (gelenveri == "200") {
                            $(".success-message").show();
                            successPayment();
                        }
                        if (gelenveri == "100") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "101") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "102") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "103") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "104") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "105") {
                            $(".error-message").show();
                        }
                        if (gelenveri == "Error!") {
                            $(".error-message").show();
                        }
                    },
                    error: function (hata) {
                        $(".error-message").show();
                        
                    }
                });
            });
        });

        function successPayment() {
            $.ajax({
                url: '/payment/SuccessPaymentStockDecrease',
                type: 'GET',
                dataType: 'json',
            });
        }
    </script>
</body>
</html>
