
@{
    ViewBag.Title = "Login";
}

<div class="login">
    <form action="/login/login" method="post">
        <div class="login__title">
            <span>Login</span>
            <span>to get started</span>
        </div>
        <div class="login__inputs">
            <input name="username" id="username" type="text" value="" placeholder="Username" />
            <input name="password" id="password" type="password" value="" placeholder="Password" />
        </div>
        <div class="login__buttons">
            <button type="submit">Continue</button>
            <a href="#">New User? <b>Register</b></a>
        </div>
    </form>
    
</div>

