
@{
    ViewBag.Title = "Signup";
}

<div class="login">
    <div class="login__title">
        <span>Signup</span>
        <span>to get started</span>
    </div>
    <div class="login__inputs">
        <input type="text" value="" placeholder="Username" />
        <input type="text" value="" placeholder="Email" />
        <input type="password" value="" placeholder="password" />
    </div>
    <div class="login__buttons">
        <button type="submit">Continue</button>
        <a href="#">Already registered <b>Login</b></a>
    </div>
</div>

